<!-- <section>
  <div class="container">
    <div>
      <div>
        <div class="mt-5"></div>
        <div *ngIf="message !== null" class="alert alert-{{message.type}} mb-3">
          {{message.text}}
        </div>
        <form [formGroup]="inputForm" #formDirective="ngForm" (ngSubmit)="submitForm(inputForm.value);">
          <div class="form-group row px-3">
            <label for="inputName" class="col-sm-3 col-form-label pl-5">Product Name<span
                class="required">*</span></label>
            <div class="col-sm-7">
              <input type="text" formControlName="name" class="form-control" id="inputName"
                placeholder="">
            </div>
          </div>
          <div class="row px-lg-3">
            <div class="form-group col-sm-12 col-lg-4 p-sm-0 pr-lg-3 pl-lg-0">
              <label for="inputBrand">Brand Name</label>
              <input type="text" formControlName="brand" class="form-control" id="inputBrand" placeholder="">
            </div>
            
            <div class="form-group col-sm-12 col-lg-4 p-sm-0 pr-lg-3 pl-lg-0">
              <label for="inputCategory">Category</label>
              <select formControlName="category" class="custom-select" id="inputCategory">
                <option *ngFor="let item of subCategories;" value="{{item._id}}">{{item.parent}} > {{item.name}}
                </option>
              </select>
            </div>

            <div class="form-group col-sm-12 col-lg-4 p-sm-0 pr-rg-3 pr-lg-0">
              <label for="thumbnailSelect">Thumbnail</label>
              <input type="file" formControlName="thumbnail" class="form-control py-1 pl-1" id="thumbnailSelect"
                (change)="selectImage($event)" accept="image/*">
            </div>
          </div>

          <div class="row px-lg-3">
            <div class="form-group col-sm-12 col-lg-6 p-sm-0 pr-lg-4 pl-lg-0">
              <label for="inputSalesPrice">Selling Price</label>
              <input type="number" formControlName="salesPrice" class="form-control" id="inputSalesPrice"
                placeholder="">
            </div>
            <div class="form-group col-sm-12 col-lg-6 p-sm-0 pr-rg-4 pr-lg-0">
              <label for="inputPurchasePrice">Purchase Price</label>
              <input type="number" formControlName="purchasePrice" class="form-control" id="inputPurchasePrice"
                placeholder="">
            </div>
          </div>

          <div class="form-group row  px-3">
            <label for="descriptionTextarea">Product Description</label>
            <textarea formControlName="description" class="form-control" id="descriptionTextarea"
              placeholder=""></textarea>
          </div>

          <div class="form-group row px-3">
            <label for="boxTextarea">What is in the box?</label>
            <textarea formControlName="inTheBox" class="form-control" id="boxTextarea" placeholder=""></textarea>
          </div>

          <div class="form-group row px-3">
            <label for="inputShipFrom">Ship From</label>
            <select formControlName="shipFrom" class="custom-select" id="inputShipFrom">
              <option *ngFor="let item of areas;" value="{{item._id}}">{{item.name}}</option>
            </select>
          </div>

          <div class="form-group row mb-0 px-3">
            <label>Options available</label>
          </div>

          <div class="form-check form-check-inline">
            <input formControlName="cod" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">Cash on delivery</label>
          </div>
          <br>
          <div class="form-check form-check-inline">
            <input formControlName="fhd" class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option3">
            <label class="form-check-label" for="inlineCheckbox4">Free home delivery</label>
          </div>
          <br>
          <div class="form-check form-check-inline">
            <input formControlName="warranty" class="form-check-input" type="checkbox" id="inlineCheckbox2"
              value="option2">
            <label class="form-check-label" for="inlineCheckbox2">Warranty</label>
          </div>
          <br>
          <div class="form-check form-check-inline">
            <input formControlName="return" class="form-check-input" type="checkbox" id="inlineCheckbox3"
              value="option3">
            <label class="form-check-label" for="inlineCheckbox3">7 days return</label>
          </div>
          <br>

          <button type="submit" [disabled]="!inputForm.valid && !this.editMode"
            class="btn btn-primary btn-block my-5">{{editMode? 'Update': 'Add'}}</button>

        </form>

      </div>
    </div>
  </div>
</section> -->




<section>
  <div class="container">
    <h3>Add New Product</h3>
    <div>
      <div class="mt-5"></div>
      <div *ngIf="message !== null" class="alert alert-{{message.type}} mb-3">
        {{message.text}}
      </div>

      <div class="card">
        <div class="card-header"><strong>Basic Information</strong></div>
        <div class="card-body">
          <form [formGroup]="inputForm" #formDirective="ngForm" (ngSubmit)="submitForm(inputForm.value);">

            <div class="form-group row">
              <label for="inputName" class="col-sm-3 col-form-label pl-5">Product Name <span
                  class="required">*</span></label>
              <div class="col-sm-7">
                <input type="text" formControlName="name" class="form-control" id="inputName"
                  placeholder="Ex. Samsung A71">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputCategory" class="col-sm-3 col-form-label pl-5">Category <span
                  class="required">*</span></label>
              <div class="col-sm-7">
                <select formControlName="category" class="custom-select" id="inputCategory">
                  <option *ngFor="let item of subCategories;" value="{{item._id}}">{{item.parent}} > {{item.name}}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="inputBrand" class="col-sm-3 col-form-label pl-5">Brand Name <span
                  class="required">*</span></label>
              <div class="col-sm-7">
                <input type="text" formControlName="brand" class="form-control" id="inputBrand" placeholder="">
              </div>
            </div>

            <div class="form-group row">
              <label for="thumbnailSelect" class="col-sm-3 col-form-label pl-5">Thumbnail <span
                  class="required">*</span></label>
              <div class="col-sm-3">
                <input type="file" formControlName="thumbnail" class="form-control py-1 pl-1" id="thumbnailSelect"
                  (change)="selectImage($event)" accept="image/*">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputSalesPrice" class="col-sm-3 col-form-label pl-5">Selling Price <span
                  class="required">*</span></label>
              <div class="col-sm-3">
                <input type="number" formControlName="salesPrice" class="form-control" id="inputSalesPrice"
                  placeholder="">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputPurchasePrice" class="col-sm-3 col-form-label pl-5">Purchase Price</label>
              <div class="col-sm-3">
                <input type="number" formControlName="purchasePrice" class="form-control" id="inputPurchasePrice"
                  placeholder="">
              </div>
            </div>

            <div class="form-group row">
              <label for="descriptionTextarea" class="col-sm-3 col-form-label pl-5">Product Description <span
                  class="required">*</span></label>
              <div class="col-sm-7">
                <textarea formControlName="description" class="form-control" id="descriptionTextarea"
                  placeholder=""></textarea>
              </div>
            </div>

            <div class="form-group row">
              <label for="boxTextarea" class="col-sm-3 col-form-label pl-5">What is in the box? <span
                  class="required">*</span></label>
              <div class="col-sm-7">
                <input formControlName="inTheBox" class="form-control" id="boxTextarea" placeholder="">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputShipFrom" class="col-sm-3 col-form-label pl-5">Ship From <span
                  class="required">*</span></label>
              <div class="col-sm-7">
                <select formControlName="shipFrom" class="custom-select" id="inputShipFrom">
                  <option *ngFor="let item of areas;" value="{{item._id}}">{{item.name}}</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label pl-5">Options</label>
              <div class="col-sm-9">
                <div class="form-check form-check-inline align-middle">
                  <input formControlName="cod" class="form-check-input" type="checkbox" id="inlineCheckbox1"
                    value="option1">
                  <label class="form-check-label" for="inlineCheckbox1">Cash on delivery</label>
                </div>
                <div class="form-check form-check-inline">
                  <input formControlName="fhd" class="form-check-input" type="checkbox" id="inlineCheckbox4"
                    value="option3">
                  <label class="form-check-label" for="inlineCheckbox4">Free home delivery</label>
                </div>
                <div class="form-check form-check-inline">
                  <input formControlName="warranty" class="form-check-input" type="checkbox" id="inlineCheckbox2"
                    value="option2">
                  <label class="form-check-label" for="inlineCheckbox2">Warranty</label>
                </div>
                <div class="form-check form-check-inline">
                  <input formControlName="return" class="form-check-input" type="checkbox" id="inlineCheckbox3"
                    value="option3">
                  <label class="form-check-label" for="inlineCheckbox3">7 days return</label>
                </div>
              </div>
            </div>

            <div class="d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-danger" type="submit"
                [disabled]="!inputForm.valid && !this.editMode">{{editMode? 'Update': 'Add'}}</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
