.sidenav-position{
  position: sticky;
  top: 0;
  z-index: 1;
}
.sidenav-bg-color{
  background-color:#EFF2FB;
}
.sidenav-text-color{
  color: black;
  margin-left: 2px;
}
.newComers{
  background-color: white;
}

