<div class="col mt-5 mb-4">
  <div class="card" (click)="openDetails()">
    <img src="https://www.famousfootwear.com/c/-/media/project/famousfootwear/homepage/mobile/2020/holiday/mobile.jpg?h=520&w=750&la=en&hash=E09B7B8704E4484669CE9371E7453F90C09B10A9" class="card-img-top" alt="{{seller.image}}">
    <div class="card-body text-center">
      <img class="avatar rounded-circle" src="https://www.w3schools.com/howto/img_avatar.png" height="100px" width="100px" alt="{{seller.name}}}}">
      <h4 class="card-title">{{seller.name}}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{seller.businessName}}</h6>
    </div>
  </div>
</div>
