<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5 mt-5">

  <div class="bg-primary">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center text-white">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Let's socialize with OneMall!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f text-white mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter text-white mr-4"> </i>
          </a>
          <!-- YouTube -->
          <a class="">
            <i class="fab fa-youtube text-white mr-4"></i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-pinterest text-white mr-4"></i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram text-white"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 text-dark">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mb-4 pr-4">

        <!-- Content -->
        <img src="/assets/images/logo.png" class="img-fluid" alt="">
        <div class="row mt-2">
          <div class="col-6"></div>
          <div class="col-6">
            <img src="/assets/images/app-store.png" class="img-fluid my-1" alt="">
            <img src="/assets/images/play-store.png" class="img-fluid my-1" alt="">
          </div>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Company</h6>
        <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="text-dark" href="#!">About Us</a>
        </p>
        <p>
          <a class="text-dark" href="#!">Testimonials</a>
        </p>
        <p>
          <a class="text-dark" href="affiliation-program">Affiliate Program</a>
        </p>
        <p>
          <a class="text-dark" href="terms-and-conditions">Terms & Conditions</a>
        </p>
        <p>
          <a class="text-dark" href="contact-us">Contact Us</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">My Account</h6>
        <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="text-dark" href="#!">My Order</a>
        </p>
        <p>
          <a class="text-dark" href="#!">My Wishlist</a>
        </p>
        <p>
          <a class="text-dark" href="#!">My Credit Slip</a>
        </p>
        <p>
          <a class="text-dark" href="#!">My Address</a>
        </p>
        <p>
          <a class="text-dark" href="#!">My Personal Info</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Support</h6>
        <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          New User Guide</p>
        <p>
          Help Center</p>
        <p>
          Refund Policy</p>
        <p>
          Report Spam</p>
        <p>
          FAQs</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mb-4">

        <form class="form-inline ml-auto">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Your Email Address" aria-label="Search in OneMall" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" id="button-addon2">
                <i class="fas fa-paper-plane"></i>
              </button>
            </div>
          </div>
        </form>

      </div>
      <!-- Grid column -->

    </div>
<!--    &lt;!&ndash; Grid row &ndash;&gt;-->
<!--    <hr class="mt-0">-->

<!--    <div class="row px-3">-->
<!--      <h6 class="text-uppercase">Deals With</h6>-->
<!--    </div>-->

<!--    <hr class="">-->

<!--    <div class="row px-3">-->
<!--      <p class="m-0">-->
<!--        <strong class="mr-1">Mobile Mall</strong>-->
<!--        <span class="text-muted">New Arrivals | Mobile Batteries | Mobile Cables | Mobile Cases | Mobile Chargers | Mobile HandsFree | Mobile Headset | Mobile Parts | Mobile Speakers | Power Banks</span>-->
<!--      </p>-->
<!--    </div>-->

<!--    <hr class="">-->

<!--    <div class="row px-3">-->
<!--      <p class="m-0">-->
<!--        <strong class="mr-1">Sales & Deals</strong>-->
<!--        <span class="text-muted">New Arrivals | Hot Deals | Hot Sales | Cosmetics Sales | Crockery Sales | Jewelry Sales | Kitchen Item Sales | Rest Watch Sales | Stationery Sales | ToysPack Sales</span>-->
<!--      </p>-->
<!--    </div>-->

  </div>
  <!-- Footer Links -->

  <hr>
  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">
    OneMall 2020. © Copyrights All Rights Reserved.
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
