.checked {
  color: orange;
}

.buy-now-btn {
  padding: 0px;
  background-color: #82c424;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding-top: 2px;

  height: 20px;
}

@media only screen and (max-width: 768px) {
  .buy-now-btn {
    margin-top: 5px;
  }
}
