.dashboard-info-card{
  height:100px;
  width:150px;
  border-radius: 0;
  text-align: center;
}
.dashboard-info-card-title{
  font-size: small;
  color: grey;
}
.card {
  border-radius: 15px;
}
.card-header{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #fff;
}
.sec-row-col{
  height: 500px;
}
